[submodule "s2geometry"]
	path = thirdparty/s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "libosmium"]
	path = thirdparty/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "abseil-cpp"]
	path = thirdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "protozero"]
	path = thirdparty/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "thirdparty/grpc"]
	path = thirdparty/grpc
	url = https://github.com/grpc/grpc.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
